// Rules for sizing the icon.
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

// Rules for using icons as black on a light background.
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

// Rules for using icons as white on a dark background.
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


.material-icons.md-36.brown { 
	font-size: 36px;
	color: brown;
 }

 .material-icons.md-36.pink { 
	font-size: 36px;
	color: pink;
 }


 .material-icons.md-36.purple { 
	font-size: 36px;
	color: purple;
 }

  .material-icons.md-36.indigo { 
	font-size: 36px;
	color: indigo;
 }

  .material-icons.md-36.green { 
	font-size: 36px;
	color: green;
 }

  .material-icons.md-36.grey { 
	font-size: 36px;
	color: grey;
 }