p#login_error {
  color: red;
}
div {
   margin: 0px;
   padding: 0px;
}
h1,h2,h3{
	text-align:center;
}
#profile-icon {
  border-radius: 99%;
}
.ucb-logo {
	width: 90%;
	height: 20%;
}

.angular-google-map-container { 
	height: 250px;
	width: 80%
	margin: 0px;
	padding: 0px;
}
.whiteframedemoBasicUsage md-whiteframe {
  background: #fff;
  margin: 10px;
  padding: 10px; 
  outline:none;
}

div,md-item-content {
  outline:none;
}

.whiteframedemoBasicUsage md-whiteframe .checkin-icon {
	width: 72px;
	height: 72px;
}


md-content.md-default-theme {
  background-color: #eee;
}

md-card {
  background-color: #fff;
}
md-card h2:first-of-type {
  margin-top: 0;
}

md-toolbar .md-button.md-default-theme {
  border-radius: 99%;
}

h2 {
  font-weight: 400;
}

.md-toolbar-tools-bottom {
  font-size: small;
}
.md-toolbar-tools-bottom :last-child {
  opacity: 0.8;
}

md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}

#member-icon{
  border-radius: 99%;
}
.sliderdemoBasicUsage input[type="number"] {
  text-align: center; }

.inputdemoErrors .inputErrorsApp {
  min-height: 48px; 
}

.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; 
}
.tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid black; 
}

.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: #3F51B5;
      color:black; 
}
.tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; 
}

