<div  layout="column" layout-align="center center">
	<div><h3>Points</h3> 
	</div>
	<div class="whiteframedemoBasicUsage" layout="column" layout-fill style="padding-bottom: 32px;">		
		<div layout="row">
			<span flex="40">
				<md-button class="md-button md-raised" ng-click="goToPage('/home')">
	    			Back
	  			</md-button>
			</span>
			<span flex="20" class="md-body-2"></span>
			<span flex="40">
				<md-button class="md-button md-primary md-raised" ng-click="goToPage('/history')">
	    			Past Events
	  			</md-button>
			</span>
		</div>
		<div class="md-whiteframe-z1" layout="column" layout-margin layout-padding>
			<div layout="row" layout-align="space-around center" layout-margin>
				<span flex="10"></span>
				<span flex="40" class="md-body-2"> PENDING </span>
				<span flex="40" class="md-body-2">300</span>
				<span flex="10"></span>
			</div>
			<div layout="row" layout-align="space-around center" layout-margin>
				<span flex="10"></span>
				<span flex="40" class="md-body-2"> ACCRUED </span>
				<span flex="40" class="md-body-2">450</span>
				<span flex="10"></span>
			</div>
			<div layout="row" layout-align="space-around center" layout-margin >
				<span flex="10"></span>
				<span flex="40" class="md-body-2"> MILESTONES </span>
				<span flex="40" layout="row" layout-align="start center">
					
					<i class="material-icons md-24">star_rate</i>
					<i class="material-icons md-24">star_rate</i>
					
				</span>
				<span flex="10"></span>
			</div>
			<div layout="row" layout-align="space-around center" layout-margin>
				<span flex="10"></span>
				<span flex="40" class="md-body-2"> TOTAL POINTS </span>
				<span flex="40" layout="row" layout-align="start center">900</span>
				<span flex="10"></span>
			</div>
		</div>
	</div>

</div>