<h3>Check-In at UCB events</h3>
<div id="map_canvas">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
        <ui-gmap-markers models="randomMarkers" coords="'self'" icon="'icon'" clickable='true'>
        </ui-gmap-markers>
    </ui-gmap-google-map>
</div>

<div layout="column" layout-align="center center" ng-controller="checkinCtrl">
    <div layout="column">
		<div layout="row" layout-sm="row"  layout-align="center center">
		<div>
			<md-input-container style="line-height:15px;width:250px;" flex>
			<label>Search Event</label>
			<input ng-model="search.name">
			</md-input-container>
		</div>
		<div>
			<i class="material-icons" flex>search</i>
		</div>
		</div>
		<div layout="row" layout-sm="row"  layout-align="center center">
		<md-content flex md-scroll-y >
          	<v-accordion class="vAccordion--default"  multiple layout-align="center">
			  <!-- add expanded attribute to open the section -->
			  <v-pane ng-repeat="item in eventInfo | filter:search">
			    <v-pane-header layout-align="center">
					<div layout="row" layout-align="space-between center">
                      	<div layout="row">
                            <div layout="column"class="md-tile-content">
                              <h4>{{item.name}}</h4>
                            </div>
                        </div>
                    </div>
			    </v-pane-header layout-align="center">
			    <v-pane-content>
			      {{item.description}}
			    </v-pane-content>
				<div layout-align="center">
                   <md-button class="md-raised" ng-click="checkin(item)">Check-In</md-button>
                </div>
			  </v-pane>
			  <md-divider></md-divider>
			</v-accordion>
      </md-content>
	  </div>
    </div>
<h3>Check-In at Current and Past UCB events</h3>
<div ng-cloak>
  <md-content >
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Current Events">
        <md-content class="md-padding">
		<div>
        	<v-accordion class="vAccordion--default"  style ="width:300px" multiple>
			  <!-- add expanded attribute to open the section -->
			  <v-pane ng-repeat="item in eventInfo">
			    <v-pane-header>
					<div layout="row" layout-align="space-between center">
                      	<div layout="row">
                            <div layout="column"class="md-tile-content">
                              <h4>{{item.name}}</h4>
                            </div>
                        </div>
                    </div>
			    </v-pane-header>
			    <v-pane-content>
			      {{item.description}}
			    </v-pane-content>
				<div>
                   <md-button class="md-raised" ng-click="checkin(item)">Check-In</md-button>
                </div>
			  </v-pane>
			  <md-divider></md-divider>
			</v-accordion>
			</div>
		</md-content>
		</md-tab>
		<md-tab label="Past Events">
		<md-content class="md-padding" layout-align="center">
		<div>
        	<v-accordion class="vAccordion--default"  style ="width:300px" multiple>
			  <!-- add expanded attribute to open the section -->
			  <v-pane ng-repeat="item in eventInfo">
			    <v-pane-header>
					<div layout="row" layout-align="space-between center">
                      	<div layout="row">
                            <div layout="column"class="md-tile-content">
                              <h4>{{item.name}}</h4>
                            </div>
                        </div>
                    </div>
			    </v-pane-header>
			    <v-pane-content>
			      {{item.description}}
			    </v-pane-content>
				<div>
                   <md-button class="md-raised" ng-click="checkin(item)">Check-In</md-button>
                </div>
			  </v-pane>
			  <md-divider></md-divider>
			</v-accordion>
			</div>
		</md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
</div>