<div id="map_canvas">
	<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
		<ui-gmap-markers models="randomMarkers" coords="'self'" icon="'icon'" clickable='true'>
		</ui-gmap-markers>
	</ui-gmap-google-map>
</div>
<h3>Check-in at event</h3>
<div ng-controller="checkinCtrl" layout="column" ng-init="getDetails()">
<md-card flex-sm="90" flex-gt-sm="90">
	<md-card-content layout-padding="">
    <form name="userForm">
	<md-input-container class="md-block">
		<div layout="row">
		<b>Event Name : </b>
		</div>
		<div layout="row">
			{{eventInfo.name}}
		</div>
    </md-input-container>
	<md-input-container class="md-block">
		<div layout="row">
		<b>Event Description : </b>
		</div>
		<div layout="row">
		{{eventInfo.description}}
		</div>
	</md-input-container>
	<div layout="row" layout-sm layout-align="center center"> 
		<md-button class="md-button md-raised">
       		<label for="file-input">Add Photo</label>  
			<i class="material-icons">add_a_photo</i>			
		</md-button>
    	<input id="file-input" type="file" style="display:none;">
	</div>
	<md-input-container class="md-block">
		<div layout="row" >
			<div layout-padding="">
					<b>Select Hours for which you attended event : </b> 
			</div>
			<div layout-padding="">
			<input flex type="number" ng-model="event.hours" aria-label=""
					min="1" max="8"	aria-controls="hour-slider" required="">
			</div>
		</div>
		<div layout-padding="">
			<md-slider flex class="md-primary" md-discrete ng-model="event.hours" step="1" min="1" max="8" aria-label="hours" id="hour-slider" required=""> </md-slider>
		</div>
	</md-input-container>
	<div layout="row" layout-sm layout-align="center center"> 
		<md-input-container class="md-block">
			<md-button class="md-button md-warn md-raised" ng-click="goToPage('/checkin')">
			BACK
			</md-button>
		</md-input-container>
		<md-input-container class="md-block" ng-disabled="userForm.$invalid">
			<md-button class="md-button md-primary md-raised" ng-click="checkinAtevent()">
			CHECK-IN 
			</md-button>
		</md-input-container>
	</div>
	</form>
	</md-card-content>
	</md-card>
</div>