<div layout="column" layout-align="space-between center" ng-controller="eventsCtrl">
    <div>
        <h3>What's Happening In Boston</h3>
        </br>
    </div>
    <div layout="column" class="relative" layout-fill role="main">
		<div layout="row" layout-sm="row"  layout-align="center center">
			<div>
				<md-input-container style="line-height:15px;width:250px;" flex>
					<label>Search Events</label>
					<input ng-model="search.event.name">
				</md-input-container>
			</div>
			<div>
				<i class="material-icons" flex>search</i>
			</div>
		</div>
		<md-content flex md-scroll-y>
			<ui-view layout="column" layout-fill>
				<div class="inset" hide-sm></div>
				<div layout="row" layout-align="center center">
					<md-list>
						<md-item ng-repeat="date in eventData | filter:search" ng-init="parentIndex = $index">
							<md-card flex-sm="90" flex-gt-sm="90">
								<md-card-content>
									<div layout="column" layout-sm="column"  layout-align="space-around center">
										<div>
											<p class="md-title">
												{{ ::date.when }}
											</p>
										</div>
									
										<v-accordion class="vAccordion--default" style="width:280px">
					                    	<v-pane ng-repeat="event in date.events">
					                    		<v-pane-header>
								                	<p class="md-body-2"> 
											    		{{ ::event.name }}
								                    </p>
								                </v-pane-header>
								                <v-pane-content>
								                	<div layout="column" layout-align="space-between center">
								                		<div layout="column" layout-align="space-between left">
										                	<p class="md-body-1">
															    <b>Description :</b> {{ ::event.description }}
															</p>
															<p class="md-body-1">
															    <b>From :</b> {{ ::event.from}}
															</p>
															<p class="md-body-1">
															    <b>To :</b> {{ ::event.to}}
															</p>
														</div>
														<div layout="row">														
															<md-button md-no-ink class="md-primary" ng-click="goToEvent($index, parentIndex)">
															    	More Info
															</md-button>														
															<md-button class="md-raised md-warn" ng-if="isAttending(event.rsvp)" ng-click="removeRsvp($index, parentIndex)">REMOVE RSVP</md-button>
															<md-button class="md-raised md-primary" ng-if="isNotAttending(event.rsvp)" ng-click="addRsvp($index, parentIndex)">RSVP</md-button>
														</div>
													</div>
								            	</v-pane-content>
					                    	</v-pane>
					                	</v-accordion>
									</div>
								</md-card-content>
							</md-card>
					</md-list>
				</div>

			</ui-view>
		</md-content>
    </div>
</div>

