
  <div layout="column" layout-align="center center" ng-controller="ucbMembersCtrl">

    <div>
    	 <h3>UCB Members</h3>
    </div>	
    <div layout="column" class="relative" layout-fill role="main">
        <div layout="row" layout-sm="row"  layout-align="center center">
    <div>
      <md-input-container style="line-height:15px;width:250px;" flex>
        <label>Search Memeber</label>
          <input ng-model="search.who">
      </md-input-container>
    </div>
    <div>
	 <i class="material-icons" flex>search</i>
    </div>
	</div>
      <md-content flex md-scroll-y>
        <ui-view layout="column" layout-fill>
          <div class="inset" hide-sm></div>
              <div layout="row" layout-align="center center">
                  <md-card flex-gt-sm="90" flex-gt-md="80">
                    <md-card-content>
                      <md-list>
                        <md-item ng-repeat="item in activity | filter:search">
                          <md-item-content>
                          <div layout="row" layout-align="space-between center">
                          	<div layout="row">
                            <div class="md-tile-left inset">
                                <user-avatar></user-avatar>
                            </div>
                            <div layout="column"class="md-tile-content">
                              <h4>{{item.who}}</h4>
                          
                            </div>
                            </div>
                            <div>
                              <md-button class="md-raised" ng-disabled="expression">Connect</md-button>
                           </div>
                           </div>  
                          </md-item-content>
                          <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
                          <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                        </md-item>
                        <md-divider></md-divider>
                      </md-list>
                    </md-card-content>
                  </md-card>
              </div>
   
        </ui-view>
      </md-content>
    </div>
</div>