<div layout="column" layout-align="center center" ng-controller="messageCtrl" ng-init="getDetails()" class="inputdemoErrors">

    <h3 ng-model="contact"> {{contact.name}}</h3>
    <div></div>
    <div></div>
    <!--<md-content layout="column">-->
    <div style="height:250px; width:250px; overflow:hidden; padding:0px; border:0px; margin:0px;">
        <div id="chatWindow" style="height:100%; padding:8px; width:100%; border:hidden; clear:both; overflow:auto;">
            <!-- <div align="left"style="padding-bottom: 8px;">
                <div align="left" ng-model="initial" style="border: thin solid; border-radius: 7px; width: 70%; height: auto; padding: 3px; ">{{initial.message}}</div>
            </div>-->
            <!--<div align="right" class="dummy" ng-show="sendClicked" style="padding-top :8px; padding-right:8px;">
                <div align="left" ng-model="typed" style="border: thin solid; border-radius: 7px; background-color: cornflowerblue; width: 70%; height: auto; padding: 3px; ">{{typed.message}}</div>
            </div>-->
            <div layout="row" lay-align="start center">
                <div class="md-whiteframe-1dp" flex="80" style="padding:6px;" layout="column" layout-align="center start"><span>{{initial.message}}</span></div>
                <span flex="20"></span>
            </div>
            <div ng-repeat="chat in chatList track by $index" layout="row" lay-align="end center" style="margin-top:8px;">
                <span flex="20"></span>
                <div class="md-whiteframe-1dp" flex="80" ng-show="sendClicked" style="padding-right:15px; padding-bottom:6px; padding-left:6px; padding-top:6px; background-color:cornflowerblue;" layout="column" layout-align="center end"><span>{{chat}}</span></div>
            </div>
        </div>
    </div>
    <!--/md-content>-->
    <form name="chatForm">
        <div layout="row" layout-sm="row" layout-align="center center" layout-padding>
            <div>
                <!-- <md-input-container style="line-height:75px;width:280px; clear:both;" flex>
                    <label>Start typing here ...</label>
                    <input ng-model="message">
                </md-input-container> -->
                <md-input-container class="md-block" style="width:252px;background:white;" flex>
                    <label>Start typing here ...</label>
                    <textarea required="" ng-model="message" columns="1" md-maxlength="150" rows="2"></textarea>
                </md-input-container>
            </div>
        </div>
        <div layout="row" layout-align="center center">
            <md-button  class="md-raised md-warn" ng-model="sendClicked" ng-click="goToPage('/message')">Cancel</md-button>
            <md-button ng-disabled="chatForm.$invalid" class="md-raised md-primary" ng-click="addToChat()">Send</md-button>
        </div>
    </form>
