<div layout="column" layout-align="center center" ng-controller="messageCtrl" ng-init="getDetails()">

    <h3 ng-model="contact"> {{contact.name}}</h3>
    <div></div>
    <div></div>
    <div id="chatWindow" style="height:250px; padding:8px; width:250px; border:hidden; background-color:#FFFFFF; clear:both;">
        <div align="left"style="width: 100%; height: 20px; padding-bottom: 8px;">
            <div align="left" ng-model="initial" style="border:inset;border-radius:7px;width:70%; height:20px; ">{{initial.message}}</div>
        </div>
        <div align="right" ng-show="sendClicked" style="width: 100%; height: 20px; padding-top:8px; padding-right:8px;">
            <div align="left" ng-model="typed" style="border:inset;border-radius:7px; background-color:cornflowerblue; width:70%; height:auto; ">{{typed.message}}</div>
        </div>
    </div>
    <div layout="row" layout-sm="row" layout-align="center center" layout-padding>
        <div>
            <!-- <md-input-container style="line-height:75px;width:280px; clear:both;" flex>
                <label>Start typing here ...</label>
                <input ng-model="message">
            </md-input-container> -->
            <md-input-container class="md-block" style="width:252px;background:white;" flex>
                <label>Start typing here ...</label>
                <textarea ng-model="message" columns="1" md-maxlength="150" rows="2" ></textarea>
            </md-input-container>
        </div>

    </div>
    <div layout="row" layout-align="center center">
        <md-button class="md-raised md-primary" ng-click="addToChat()">Send</md-button>
        <md-button class="md-raised md-warn" ng-model="sendClicked" ng-click="goToPage('/message')">Cancel</md-button>

    </div>
