<div layout="column" layout-align="center center" ng-controller="messageCtrl" ng-init="getName()">

    <h3 ng-model="contact"> {{contact.name}}</h3>
    <div></div>
    <div layout="row" layout-sm="row" layout-align="center center">
        <div>
            <md-input-container style="line-height:75px;width:280px;"  flex>
                <label>Start typing here ...</label>
                <input ng-model="message">
            </md-input-container>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <md-button class="md-raised md-primary" ng-click="sendMessage()">Send</md-button>
        <md-button class="md-raised md-warn" ng-click="goToPage('null', '/message')">Cancel</md-button>

    </div>
