
<div ng-controller="messageCtrl">
    <div layout="column" layout-align="center center">
        <h3>Messages</h3>
    </div>
    <div layout="row" layout-align="start center" >
        <md-button class="md-raised" ng-click="goToPage('/profile')">
                Back
        </md-button>        
    </div>  
    <div layout="column" class="relative" layout-fill role="main">
        <div layout="row" layout-sm="row" layout-align="center center">
            <div>
                <md-input-container style="line-height:15px;width:250px;" flex>
                    <label>Search Memeber</label>
                    <input ng-model="search.who">
                </md-input-container>
            </div>
            <div>
                <i class="material-icons" flex>search</i>
            </div>
        </div>
        <div class="tabsdemoDynamicHeight">
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom >
            <md-tabs-wrapper>
                <md-tab label="Message a Contact" style="color:{{theme}};"> 
                    <md-content class="md-padding">
                        <div>
                            <md-content flex md-scroll-y>
                                <ui-view layout="column" layout-fill>
                                    <div layout="row" layout-align="center center" class="md-subhead">Message a Contact</div>
                                    <div class="inset" hide-sm></div>
                                    <div layout="row" layout-align="center center">
                                        <md-card flex-sm="90" flex-gt-sm="90">
                                            <md-card-content>

                                                <md-list>
                                                    <md-item ng-repeat="item in userData | filter:search">
                                                        <md-item-content>
                                                            <div layout="row" layout-align="space-between center">
                                                                <div layout="row" layout-align="center center">
                                                                    <div class="md-tile-left inset">
                                                                        <user-avatar id="member-icon"></user-avatar>
                                                                    </div>
                                                                    <div layout="column" class="md-body-2">
                                                                        <h4>{{item.who}}</h4>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <md-button class="md-raised md-primary" ng-click="goToContact(item.who)" style="width:100px;"> Message </md-button>
                                                                </div>
                                                            </div>
                                                        </md-item-content>
                                                        <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
                                                        <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                                                    </md-item>
                                                    <md-divider></md-divider>
                                                </md-list>
                                            </md-card-content>
                                        </md-card>
                                    </div>

                                </ui-view>
                            </md-content>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Chats">
                    <md-content class="md-padding" layout-align="center">
                        
                        <div>
                        <md-content flex md-scroll-y>
                            <ui-view layout="column" layout-fill>                                
                                <div layout="row" layout-align="center center" class="md-subhead">Chats</div>
                                <div class="inset" hide-sm></div>
                                <div layout="row" layout-align="space-between center">

                                    <md-card flex-sm="90" flex-gt-sm="90">
                                        <md-card-content>

                                            <md-list>
                                                <md-item ng-repeat="item in userData | filter:search">
                                                    <md-item-content>
                                                        <div layout="row" layout-align="space-between center">
                                                            <div layout="row">
                                                                <div class="md-tile-left inset">
                                                                    <user-avatar id="member-icon"></user-avatar>
                                                                </div>
                                                                <div layout="column" class="md-tile-content" ng-click="goToChat(item.who, item.chat)">
                                                                    <div class="md-body-2"  style="padding:0px; margin-top:15px;">{{item.who}}</div>
                                                                    <p class="md-body-1" style="padding:0px; margin:0px;" ng-click="goToChat(item.who, item.chat)">{{item.chat}}</p>
                                                                </div>
                                                                </div>
                                                                <div layout="column" layout-align="center end">
                                                                    <i class="material-icons" ng-click="goToChat(item.who, item.chat)">reply</i>
                                                                </div>                                                            
                                                        </div>
                                                    </md-item-content>
                                                    <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
                                                    <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                                                </md-item>
                                                <md-divider></md-divider>
                                            </md-list>
                                        </md-card-content>
                                    </md-card>
                                </div>

                            </ui-view>
                        </md-content>
    </div>
    </md-content>
    </md-tab>
    </md-tabs>
    </md-content>
</div>
</div>
    </div>