<div layout="column" layout-align="space-between center" ng-init="getDetails()">
	<div>
        <h3>Hi, Janice!</h3> 
    </div>
    <div layout="column" class="relative" layout-fill role="main">
        <md-card flex-sm="90" flex-gt-sm="90">
            <md-card-content>
			<div layout="row" layout-align="center center">
				<h4>You have been successfully checked in at:</br>
				 {{selfieEvent}} </h4>
			</div>
            </md-card-content>
        </md-card>
    </div>
    <div layout="row" layout-align="center center">
        <md-button class="md-button md-primary md-raised" ng-click="goToPage('/home')">
            OK
        </md-button>
	</div>
		<div layout="column" layout-align="center center">
		<div layout="row" layout-align="center center">
			<h3> Share it! </h3>
		</div>
		<md-card flex-sm="90" flex-gt-sm="90">
			<md-card-content>
				<div layout="row" layout-align="center center">
					<a href="https://twitter.com/share?source=tweetbutton&text=I%20have%20attended%20{{selfieEvent}}%20A%20UCB%20event%20&url=http://www.ucbapp.org/" target=_blank >
					<img src="img/twitter-box.png" class="ShareTwitter" alt="ShareTwitter logo" class="ShareTwitter-logo">
					</a> &nbsp;&nbsp;
					<a href="https://www.facebook.com/sharer.php?u=http://www.ucbapp.org/" target=_blank>  
					<img src="img/facebook-box.png" class="ShareFacebook" alt="ShareFacebook logo" class="ShareFacebook-logo">
					</a> &nbsp;&nbsp;
					<a href="https://plus.google.com/share?url=http://www.ucbapp.org/" target=_blank>  
					<img src="img/google-plus.png" class="Sharegoogle-plus" alt="Sharegoogle-plus logo" class="Sharegoogle-plus-logo">
					</a>
				</div>
			</md-card-content>
		</md-card>
	</div>
</div>
 