<div layout="column" layout="column" layout-align="center center">
<div>
<h3>Check-In at Selfie - Event</h3>
</div>
<form name="eventForm">
	<div layout layout-sm="column">
      <md-input-container class="md-block">
        <label>Event Name:</label>
        <input md-maxlength="50" required name="name" ng-model="event.name">
	</div>
	<div layout layout-sm="column">
      </md-input-container>
	  <md-input-container class="md-block">
        <label>Description</label>
        <textarea ng-model="event.description" columns="1" md-maxlength="150" rows="5"></textarea>
      </md-input-container>
 	</div>
	<div layout layout-sm="column">
	  <md-button class="md-primary" aria-label="Settings" flex>
		<span> Add Photo</span>
		<i class="material-icons">add_a_photo</i>
      </md-button>
	  <input id="file-input" type="file" style="display:none;">
	</div>
	<div layout layout-sm="column">
	  <md-input-container flex>
          <label>Event Category</label>
          <md-select ng-model="category">
            <md-option ng-repeat="category in categories" value="{{category}}">
              {{category}}
            </md-option>
          </md-select>
        </md-input-container>
	</div>
	<div layout layout-sm="column">
		<md-datepicker ng-model="event.eventdate" md-placeholder="Enter date"></md-datepicker>
    </div>
	<div layout layout-sm="column">
		<md-button class="md-button md-warn md-raised" ng-click="goToPage('/home')">
				BACK
		</md-button>
		<md-button class="md-button md-primary md-raised" ng-click="goToSelfieCheckinConfirmation(event.name)">
				CHECK-IN
		</md-button>
	</div>
</form>