<div layout="column" layout="column" layout-align="center center">
<div>
<h3>Check-In at Selfie - Event</h3>
</div>
<form name="eventForm">
	<div layout layout-sm="column">
      <md-input-container class="md-block">
        <label>Event Name:</label>
        <input md-maxlength="50" required name="name" ng-model="event.name">
        <div ng-messages="eventForm.name.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">The name has to be less than 50 characters long.</div>
        </div>
	</div>
	<div layout layout-sm="column">
      </md-input-container>
	  <md-input-container class="md-block">
        <label>Description</label>
        <textarea ng-model="event.description" columns="1" md-maxlength="150" rows="5"></textarea>
        <div ng-messages="eventForm.description.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">The description has to be less than 150 characters long.</div>
        </div>
      </md-input-container>
 	</div>
	<div layout layout-sm="column">
	  <md-button class="md-primary" aria-label="Settings" flex>
		<span> Add Photo  </span>
		<i class="material-icons">add_a_photo</i>
      </md-button>
	  <input id="file-input" type="file" style="display:none;">
	</div>
	<div layout layout-sm="column">
	  <md-input-container flex>
          <label>Event Category</label>
          <md-select ng-model="category">
            <md-option ng-repeat="category in categories" value="{{category}}">
              {{category}}
            </md-option>
          </md-select>
        </md-input-container>
	</div>
	<div layout layout-sm="column">
		<md-container flex>
			<md-datepicker ng-model="event.eventdate" md-placeholder="Enter date"></md-datepicker>
		</md-container>
    </div>
	<div layout layout-sm="column">
			<div layout layout-sm="row">
				<md-button class="md-button md-warn md-raised" ng-click="goToPage('/home')">
					Back
				</md-button>
				<md-button class="md-button md-primary md-raised" ng-click="goToPage('/submitSelfiEventConfirmation')">
					Check-In
				</md-button>
			</div>
	</div>
</form>