
  <div layout="column" layout-align="center center" ng-controller="ucbMembersCtrl">

    <div>
    	 <h3>Pending Friend Requests</h3>
    </div>

    <div layout="column" class="relative" layout-fill role="main">
      
      <md-content flex md-scroll-y>
        <ui-view layout="column" layout-fill>
          <div class="inset" hide-sm></div>
              <div layout="row" layout-align="center center">
                  <md-card flex-gt-sm="90" flex-gt-md="80">
                    <md-card-content>
                      <md-list>
                        <md-item ng-repeat="item in friendRequestData | filter:search">
                          <md-item-content>
                          <div layout="row" layout-align="space-between center" >
                          	<div layout="row">
                            <div class="md-tile-left inset">
                                <user-avatar id="member-icon"></user-avatar>
                            </div>
                            <div layout="column"class="md-tile-content">
                              <h4>{{item.who}}</h4>
                    
                            </div>
                            </div>
                            <div layout="row" layout-align="space-between center" layout-margin>
                              <!-- <md-button class="md-raised md-primary" ><span class="md-caption">Accept</span></md-button> -->
                              <div>
                              <i class="material-icons md-36 green" ng-click="acceptRequest($index);showSimpleToast();">done</i>
                          	  </div>
                          	  <div>
                             <i  class="material-icons md-36 red" ng-click="declineRequest($index)">delete</i>
                         	  </div>
                           </div>
                           </div>  
                          </md-item-content>
                          <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
                          <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                        </md-item>
                        <md-divider></md-divider>
                      </md-list>
                    </md-card-content>
                  </md-card>
              </div>
   
        </ui-view>
      </md-content>
    </div>
</div>