<div>
<div layout="column" layout-align="center center">
    <h3>My Photos</h3>
</div>
<div layout="row" layout-align="start center" >
        <md-button class="md-raised" ng-click="goToPage('/profile')">
                Back
        </md-button>        
    </div>      
<div class="whiteframedemoBasicUsage" layout="column" layout-fill style="padding-bottom: 32px;" ng-repeat="photoInfo in myPhotoData">
  <md-whiteframe class="md-whiteframe-z1" layout="row" layout-align="space-around center">
    <span> <user-avatar></user-avatar></span>
    <span layout="column">
     <span class="md-subhead">{{photoInfo.name}}</span>
     <span class="md-body-1">Points: {{photoInfo.points}}</span>
     <span class="md-body-2">Date: {{photoInfo.date}}</span>
   </span>
  </md-whiteframe>
</div>
</div>