<div layout="column" ng-controller="historyCtrl">
    <div layout="column" layout-align="center center"> 
        <h3>Past Events</h3>        
    </div>
    <div layout="row" layout-align="start center" >
        <md-button class="md-raised" ng-click="goToPage('/profile')">
                Back
        </md-button>        
    </div>      
    <div layout="column" layout-align="space-between center" layout-padding>
        <v-accordion class="vAccordion--default" style="width:300px" multiple>
            <v-pane ng-repeat="event in pastEvents">
                <v-pane-header>
                    <p class="md-body-2"> 
			      {{ ::event.name }}   
                    </p>
                    <p class="md-caption">
                        <b>Date :</b> {{ ::event.date}}
                    </p>
                </v-pane-header>
                <v-pane-content>
                    <p class="md-caption">
                        <b>Description:</b> {{ ::event.description }}
                    </p>
                    <p class="md-caption">
                        <b>Points :</b> {{ ::event.points}}
                    </p>                    
                    <p class="md-caption" layout="row" layout-align="space-between center">
                        <span class="md-caption"><b>Speaker :</b> {{ ::event.speaker}}</span>
                        <a href="::event.website"><i class="material-icons">link</i></a>
                    </p>
                </v-pane-content>
            </v-pane>
        </v-accordion>
    </div>
</div>