<div layout="column" layout-align="center center" layout-padding>
<h2> Profile </h2>
<div layout="row" layout-align="space-between center" layout-padding>
 <div><user-avatar id="profile-icon" layout-margin></user-avatar></div>
 <div layout="column" layout-align="center center" layout-margin> 
 <div class="md-body-2">Hello </div>
 <div class="md-body-1">Janice</div>
 </div>
 </div>
<md-button class="md-raised" ng-click="goToPage('/editProfile')" style="width:300px;"> Edit Profile </md-button>
<md-button class="md-raised" ng-click="goToPage('/message')" style="width:300px;"> Messages </md-button>
<md-button class="md-raised" ng-click="goToPage('/history')" style="width:300px;"> Past Events </md-button>
<md-button class="md-raised" ng-click="goToPage('/friends')" style="width:300px;"> Friends </md-button>
<md-button class="md-raised" ng-click="goToPage('/friendRequest')" style="width:300px;"> Friend Requests </md-button>
<md-button class="md-raised" ng-click="goToPage('/myPhotos')" style="width:300px;"> My Photos</md-button>
<md-button class="md-raised" ng-click="goToPage('/theme')" style="width:300px;"> Theme </md-button>
<md-button class="md-raised" ng-click="goToPage('/login')" style="width:300px;"> Logout </md-button>
