<div layout="column" layout-align="center center" layout-padding>
<h1> Profile </h1>
 <user-avatar layout-margin></user-avatar>
<md-button ng-click="goToPage('/editProfile')"> Edit Profile </md-button>
<md-button ng-click="goToPage('/message')"> Messages </md-button>
<md-button ng-click="goToPage('/history')"> Past Events </md-button>
<md-button ng-click="goToPage('/friends')"> Friends </md-button>
<md-button ng-click="goToPage('/friendRequest')"> Friend Requests </md-button>
<md-button ng-click="goToPage('/myPhotos')"> My Photoes</md-button>
<md-button ng-click="goToPage('/theme')"> Theme </md-button>
<md-button ng-click="goToPage('/login')"> Logout </md-button>
</div>