<div layout="column" layout-align="center center" layout-padding>
<h2> Profile </h2>
 <user-avatar id="profile-icon" layout-margin></user-avatar>
<md-button class="md-raised" ng-click="goToPage('/editProfile')"> Edit Profile </md-button>
<md-button class="md-raised" ng-click="goToPage('/message')"> Messages </md-button>
<md-button class="md-raised" ng-click="goToPage('/history')"> Past Events </md-button>
<md-button class="md-raised" ng-click="goToPage('/friends')"> Friends </md-button>
<md-button class="md-raised" ng-click="goToPage('/friendRequest')"> Friend Requests </md-button>
<md-button class="md-raised" ng-click="goToPage('/myPhotos')"> My Photoes</md-button>
<md-button class="md-raised" ng-click="goToPage('/theme')"> Theme </md-button>
<md-button class="md-raised" ng-click="goToPage('/login')"> Logout </md-button>
</div>